JIRA_URL=https://wject.atlassian.net
JIRA_EMAIL=seu-email@exemplo.com
JIRA_API_TOKEN=seu-api-token-aqui

TEAMS_API_URL=https://app.fragaebitelloconsorcios.com.br/api/teams/send-user-message
TEAMS_TO=seu-email@grupowolf360.com.br
